<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.oflabs.smstweak"
          android:versionCode="1"
          android:versionName="1.0">
    <application android:label="sms-tweak" android:icon="@drawable/icon">

        <activity android:name=".activities.SMSActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity android:name=".activities.FileDialog"/>
        <activity android:name=".activities.MesPrefActivity"/>
        <activity android:name=".activities.About"/>
      <!--  <activity android:name=".activities.PrefRuleEditor"/> -->
        <receiver android:name=".receivers.SMSReceiver">
            <intent-filter android:priority="99999999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.Booter" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
                </receiver>

    </application>

    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

</manifest> 
